<div class="px-2 -mb-4 md:px-4 md:-mb-1 lg:-mb-0">
    <div class="container flex mx-auto bg-white rounded shadow-xl transform -translate-y-1/2">
        <input type="text" class="flex-1 w-full px-5 py-4 text-sm border-0 lg:px-8 lg:py-6 form-input md:text-base focus:outline-none" placeholder="Datagrid, tracy, doctrine, database, latte…"/>
        <button type="submit" class="inline-flex items-center flex-shrink-0 px-4 text-sm font-medium text-blue-700 uppercase rounded-r md:px-8 xl:text-base transition duration-150 ease-in-out hover:bg-blue-100 focus:outline-none">
            <img loading="lazy" src="https://obr.now.sh/remixicon/system/search-line/64/8A99B0" class="h-5 md:mr-4">
            <span class="hidden md:block">Search</span>
        </button>
    </div>
</div>