{% extends 'layout.njk' %}

{% block body %}
    <div class="px-2 md:px-4">
        <div class="container mx-auto">
            <div class="flex flex-wrap w-full">
                <div class="w-full flex flex-wrap justify-between">
                    <div class="flex items-center w-full px-5 pt-2 md:pt-0 lg:px-8 mb-3 lg:mb-6 lg:w-1/2">
                        <a href="" class="flex-shrink-0 mr-4">
                            <img loading="lazy" src="https://avatars.githubusercontent.com/slevomat?s=128" class="w-8 h-8 rounded-full lg:h-16 lg:w-16" />
                        </a>
                        <div class="flex flex-col flex-1">
                            <h3 class="inline-block mb-2 text-lg font-bold leading-tight text-teal-800 font-headers xl:text-xl align-middle"><a href="" class="mr-2">tacoberu / nette-mailing</a> <span class="relative inline-block px-2 text-sm font-normal text-blue-700 bg-white rounded-full -mt-1 align-middle">3.2.0</span></h3>
                            <p class="text-sm text-gray-700">Tracy is a perfect tool for debugging web apps, but as most of the web these days runs on AJAX, the Debugger Bar gets kind of outdated. This is an attempt to enable the Debugger Bar to update even on AJAX requests. </p>
                        </div>
                    </div>
                    <div class="flex items-start w-auto sm:ml-16 md:mt-2 mb-2 md:mb-4 lg:ml-0">
                        <div class="bg-white py-2 px-5 w-full rounded border flex items-center">
                            <img loading="lazy" src="https://obr.now.sh/remixicon/system/download-cloud-line/64/8A99B0" class="w-5 h-5 mr-2" />
                            <code class="text-blue-900 text-sm">composer require tacoberu/nette-fluent-translator</code>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="px-2 md:px-4 overflow-hidden">
        <div class="container mx-auto">
            <div class="grid grid-cols-7 gap-4 mb-4">
                <div class="order-2 row-span-3 col-span-7 lg:col-span-4 xl:col-span-5 lg:order-1 relative z-0">
                    <svg fill="currentColor" viewBox="0 0 100 100" class="text-blue-200 absolute bottom-0 left-0 z-0 w-24 transform -mb-2 -ml-4 -translate-x-1/2 translate-y-1/2" >
                        <path id="Path_236" d="M12.9,24.2c-2.2,1.4-3.6,3.8-3.7,6.4v38.7c0.1,2.6,1.5,5,3.7,6.4L46.3,95c2.3,1.2,5.1,1.2,7.4,0l33.4-19.3
										c2.2-1.4,3.6-3.8,3.7-6.4V30.6c-0.1-2.6-1.5-5-3.7-6.4L53.8,5c-2.3-1.2-5.1-1.2-7.4,0L12.9,24.2z"/>
                    </svg>
                    <div class="bg-white rounded shadow-md z-10 relative" x-data="{ tab: 'readme' }">
                        <div class="flex flex-col flex-wrap items-stretch w-full px-5 lg:px-8">
                            <nav class="-mx-5 -mb-px">
                                <ul class="flex flex-wrap w-full items-end justify-between px-5 md:px-0 md:justify-start lg:min-h-16">
                                    <li
                                        class="flex md:px-5"
                                        @click="tab = 'readme'">
                                        <span
                                            class="font-medium text-blue-500 py-3 border-b-2 md:py-4 text-sm md:text-base"
                                            :class="[tab === 'readme' ? 'text-blue-900 hover:text-blue-900 cursor-auto border-teal-600' : 'cursor-pointer hover:text-blue-900 border-transparent' ]"
                                        >
                                            Readme
                                        </span>
                                    </li>
                                    <li
                                        class="flex md:px-5"
                                        @click="tab = 'releases'">
                                        <span
                                            class="font-medium text-blue-500 py-3 border-b-2 md:py-4 text-sm md:text-base"
                                            :class="[tab === 'releases' ? 'text-blue-900 hover:text-blue-900 cursor-auto border-teal-600' : 'cursor-pointer hover:text-blue-900 border-transparent' ]"
                                        >
                                            Releases
                                            <span class="relative inline-block px-2 text-sm font-normal text-blue-700 bg-blue-100 rounded-full -mt-1 align-middle leading-tight ml-1">25</span>
                                        </span>
                                    </li>
                                    <li
                                        class="flex md:px-5"
                                        @click="tab = 'comments'">
                                        <span
                                            class="font-medium text-blue-500 py-3 border-b-2 md:py-4 text-sm md:text-base"
                                            :class="[tab === 'comments' ? 'text-blue-900 hover:text-blue-900 cursor-auto border-teal-600' : 'cursor-pointer hover:text-blue-900 border-transparent' ]"
                                        >
                                            Comments
                                            <span class="relative inline-block px-2 text-sm font-normal text-blue-700 bg-blue-100 rounded-full -mt-1 align-middle leading-tight ml-1">325</span>
                                        </span>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="flex flex-wrap items-center justify-between px-5 pt-4 pb-5 border-t lg:px-8 lg:pt-5 lg:pb-8">
                            <div class="w-full" x-show="tab === 'readme'">
                                <div class="markdown-body">
                                    <h1><a id="user-content-nette-adapter-for-fluent-localization" class="anchor" aria-hidden="true" href="#nette-adapter-for-fluent-localization"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>Nette adapter for Fluent localization</h1>
                                    <p>This is a Nette adapter for PHP implementation of Project Fluent, a localization framework
                                        designed to unleash the entire expressive power of natural language
                                        translations.</p>
                                    <p>Project Fluent keeps simple things simple and makes complex things possible.
                                        The syntax used for describing translations is easy to read and understand.  At
                                        the same time it allows, when necessary, to represent complex concepts from
                                        natural languages like gender, plurals, conjugations, and others.</p>
                                    <h2><a id="user-content-learn-the-ftl-syntax" class="anchor" aria-hidden="true" href="#learn-the-ftl-syntax"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>Learn the FTL syntax</h2>
                                    <p>FTL is a localization file format used for describing translation resources.
                                        FTL stands for <em>Fluent Translation List</em>.</p>
                                    <p>FTL is designed to be simple to read, but at the same time allows to represent
                                        complex concepts from natural languages like gender, plurals, conjugations, and
                                        others.</p>
                                    <pre><code>hello-user = Hello, { $username }!</code></pre>
                                    <p><a href="http://projectfluent.org/fluent/guide/" rel="nofollow">Read the Fluent Syntax Guide</a> in order to learn more about the syntax.  If
                                        you're a tool author you may be interested in the formal <a href="https://github.com/projectfluent/fluent/tree/master/spec">EBNF grammar</a>.</p>
                                    <h2><a id="user-content-installation" class="anchor" aria-hidden="true" href="#installation"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>Installation</h2>
                                    <p>The recommended way to install is via Composer:</p>
                                    <pre><code>composer require tacoberu/nette-fluent-translator</code></pre>
                                    <h2><a id="user-content-usage" class="anchor" aria-hidden="true" href="#usage"><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>Usage</h2>
                                    <p>Sample flt localation file</p>
                                    <div class="highlight highlight-source-ini">
                                    <pre>-<span class="pl-k">brand-name</span> = Foo 3000
<span class="pl-k">welcome</span> = Welcome, {$name}, to {-brand-name}!
<span class="pl-k">greet-by-name</span> = Hello, { $name }!
<span class="pl-k">form-title</span> = Title</pre>
</div>
                                    <p>neon configuration</p>
                                    <div class="highlight highlight-source-ini"><pre>extensions:
    translation: Taco\NetteFluentTranslator\Extension(%appDir%/locales)

translation:
	defaultLocale: cs_CZ
	supportedLocales:
		- cs_CZ
		- fr_FR
		- en_GB</pre></div>
                                    <p>In php code:</p>
                                    <div class="highlight highlight-text-html-php"><pre><span class="pl-s1"></span>
<span class="pl-s1"><span class="pl-smi">$translator</span> <span class="pl-k">=</span> <span class="pl-smi">$container</span><span class="pl-k">-&gt;</span>getService(<span class="pl-s"><span class="pl-pds">'</span>translator<span class="pl-pds">'</span></span>);</span>
<span class="pl-s1"></span>
<span class="pl-s1">dump(<span class="pl-smi">$translator</span><span class="pl-k">-&gt;</span>translate(<span class="pl-s"><span class="pl-pds">'</span>-brand-name<span class="pl-pds">'</span></span>));</span>
<span class="pl-s1"><span class="pl-c"><span class="pl-c">//</span> "Foo 3000"</span></span>
<span class="pl-s1"></span>
<span class="pl-s1">dump(<span class="pl-smi">$translator</span><span class="pl-k">-&gt;</span>translate(<span class="pl-s"><span class="pl-pds">'</span>welcome<span class="pl-pds">'</span></span>, [<span class="pl-s"><span class="pl-pds">'</span>name<span class="pl-pds">'</span></span> <span class="pl-k">=&gt;</span> <span class="pl-s"><span class="pl-pds">'</span>Anne<span class="pl-pds">'</span></span>]));</span>
<span class="pl-s1"><span class="pl-c"><span class="pl-c">//</span> "Welcome, Anne, to Foo 3000!"</span></span>
<span class="pl-s1"></span>
<span class="pl-s1">dump(<span class="pl-smi">$translator</span><span class="pl-k">-&gt;</span>translate(<span class="pl-s"><span class="pl-pds">'</span>greet-by-name<span class="pl-pds">'</span></span>, [<span class="pl-s"><span class="pl-pds">'</span>name<span class="pl-pds">'</span></span> <span class="pl-k">=&gt;</span> <span class="pl-s"><span class="pl-pds">'</span>Anne<span class="pl-pds">'</span></span>]));</span>
<span class="pl-s1"><span class="pl-c"><span class="pl-c">//</span> "Hello, Anne!"</span></span>
<span class="pl-s1"></span>
<span class="pl-s1"><span class="pl-c1">This</span> <span class="pl-c1">means</span>, <span class="pl-k">for</span> <span class="pl-c1">example</span>:</span>
<span class="pl-s1"></span>
<span class="pl-s1"><span class="pl-s"><span class="pl-pds">`</span><span class="pl-pds">`</span><span class="pl-pds">`</span>php</span></span>
<span class="pl-s1"><span class="pl-s">function beforeRender()</span></span>
<span class="pl-s1"><span class="pl-s">{</span></span>
<span class="pl-s1"><span class="pl-s">	<span class="pl-smi">$this</span><span class="pl-k">-&gt;</span><span class="pl-smi">template</span>-&gt;setTranslator(<span class="pl-smi">$this</span><span class="pl-k">-&gt;</span><span class="pl-smi">context</span>-&gt;getByType(Nette<span class="pl-cce">\L</span>ocalization<span class="pl-cce">\I</span>Translator::class));</span></span>
<span class="pl-s1"><span class="pl-s">}</span></span></pre></div>
                                    <p>and</p>
                                    <div class="highlight highlight-text-html-php"><pre><span class="pl-s1"><span class="pl-smi">$form</span> <span class="pl-k">=</span> <span class="pl-k">new</span> <span class="pl-c1">UI\</span><span class="pl-c1">Form</span>(<span class="pl-smi">$this</span>, <span class="pl-smi">$name</span>);</span>
<span class="pl-s1"><span class="pl-smi">$form</span><span class="pl-k">-&gt;</span>setTranslator(<span class="pl-smi">$this</span><span class="pl-k">-&gt;</span><span class="pl-smi">context</span><span class="pl-k">-&gt;</span>getByType(<span class="pl-c1">Localization\</span><span class="pl-c1">ITranslator</span><span class="pl-k">::</span><span class="pl-c1">class</span>));</span>
<span class="pl-s1"><span class="pl-smi">$form</span><span class="pl-k">-&gt;</span>addText(<span class="pl-s"><span class="pl-pds">'</span>title<span class="pl-pds">'</span></span>, <span class="pl-s"><span class="pl-pds">'</span>form-title<span class="pl-pds">'</span></span>);</span></pre></div>
                                    <p>In Latte template:</p>
                                    <div class="highlight highlight-text-html-basic"><pre>{_"-brand-name"}
{_"welcome", ["name" =&gt; "Anne"]}
{_"greet-by-name", ["name" =&gt; "Anne"]}</pre></div>
                                </div>
                            </div>
                            <div class="w-full" x-show="tab === 'releases'">
                                test
                            </div>
                            <div class="w-full" x-show="tab === 'comments'">
                                test 2
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-3 col-span-7 lg:col-span-3 xl:col-span-2 z-10">
                    <div class="bg-white rounded shadow-md relative z-10 mb-4">
                        <div class="flex flex-wrap items-center justify-start px-5 pt-3 lg:px-8 lg:pt-4 min-h-16">
                            <img loading="lazy" src="https://obr.now.sh/remixicon/logos/github-fill/64/C1CCDB" class="flex-shrink-0 w-5 h-5 mb-3 lg:mb-4 mr-2">
                            <div class="mb-3 lg:mb-4 flex-1">
                                <h2 class="font-bold text-gray-800 lg:text-lg font-headers">Github</h2>
                            </div>
                        </div>
                        <div class="flex flex-wrap items-center justify-between px-5 py-3 border-t lg:px-8 lg:py-4">
                            <a href="/" class="text-blue-900 underline hover:no-underline">tacoberu / nette-fluent-translator</a>
                        </div>
                    </div>
                    <div class="bg-white rounded shadow-md relative z-10 mb-4">
                        <div class="flex flex-wrap items-center justify-start px-5 pt-3 lg:px-8 lg:pt-4 min-h-16">
                            <img loading="lazy" src="https://obr.now.sh/remixicon/business/bar-chart-fill/64/C1CCDB" class="flex-shrink-0 w-5 h-5 mb-3 lg:mb-4 mr-2">
                            <div class="mb-3 lg:mb-4 flex-1">
                                <h2 class="font-bold text-gray-800 lg:text-lg font-headers">Statistics</h2>
                            </div>
                        </div>
                        <div class="flex flex-wrap items-center justify-between px-5 py-3 border-t lg:px-8 lg:py-4">
                            <div class="grid grid-cols-2 row-gap-5 w-full">
                                <div class="flex items-center flex-1 text-xs text-blue-700">
                                    <div class="inline-flex items-center justify-center w-6 h-6 mr-2 bg-teal-100 rounded-full">
                                        <img loading="lazy" src="https://obr.now.sh/remixicon/system/download-cloud-fill/64/467A85" class="w-4 h-4"/>
                                    </div>
                                    481
                                </div>
                                <div class="flex items-center flex-1 text-xs text-blue-700">
                                    <div class="inline-flex items-center justify-center w-6 h-6 mr-2 bg-teal-100 rounded-full">
                                        <img loading="lazy" src="https://obr.now.sh/remixicon/system/star-fill/64/467A85" class="w-4 h-4"/>
                                    </div>
                                    481
                                </div>
                                <div class="flex items-center flex-1 text-xs text-blue-700">
                                    <div class="inline-flex items-center justify-center w-6 h-6 mr-2 bg-teal-100 rounded-full">
                                        <img loading="lazy" src="https://obr.now.sh/remixicon/development/bug-fill/64/467A85" class="w-4 h-4"/>
                                    </div>
                                    481
                                </div>
                                <div class="flex items-center flex-1 text-xs text-blue-700">
                                    <div class="inline-flex items-center justify-center w-6 h-6 mr-2 bg-teal-100 rounded-full">
                                        <img loading="lazy" src="https://obr.now.sh/remixicon/weather/flashlight-fill/64/467A85" class="w-4 h-4"/>
                                    </div>
                                    481
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-teal-200 rounded shadow-md mb-4">
                        <div class="bg-orange-500 text-sm font-bold leading-tight py-1 uppercase text-white inline-flex items-center rounded-r pl-5 pr-2 lg:pl-8 mt-3 lg:mt-4"><img loading="lazy" src="https://obr.now.sh/remixicon/weather/blaze-line/64/ffffff" class="w-4 h-4 mr-2"/>Hot</div>
                        <div class="relative">
                            <div class="px-5 pt-3 lg:px-8 lg:pt-4 text-teal-800">
                                <h2 class="text-lg mb-2 font-bold font-headers text-teal-900 lg:text-xl">CLI skripty v Nette aplikaci</h2>
                                <p class="mb-3 lg:mb-5">Když se řekne Nette aplikace, vybaví se mi webová aplikace. Prezentery, šablony, formuláře a následně HTML výstup pro prohlížeč. Ale paralelně se světem webových prohlížečů existuje ještě jeden, naprosto odlišný, svět příkazové řádky (CLI). A pokud naše webová aplikace potřebuje například periodicky spouštět nějaké úkony na pozadí, musíme se do světa CLI vydat.</p>
                            </div>
                            <div class="absolute bg-gradient-b-transparent-teal-200 bottom-0 left-0 w-full h-32 pointer-events-none" aria-label="hidden"></div>
                        </div>
                        <div class="flex flex-wrap items-center justify-between px-5 lg:px-8 pb-3 lg:pb-4">
                            <span class="mb-3 lg:mb-4 text-sm mr-2 font-medium text-teal-800">24.3.2020</span>
                            <a href="/" class="inline-flex px-4 py-2 mb-3 font-medium text-teal-800 uppercase border border-teal-300 rounded lg:mb-4 bg-white hover:bg-teal-100 transition duration-150 ease-in-out">Read more</a>
                        </div>
                    </div>
                    <div class="bg-white rounded shadow-md relative z-10 mb-4">
                        <div class="flex flex-wrap items-center justify-start px-5 pt-3 lg:px-8 lg:pt-4 min-h-16">
                            <img loading="lazy" src="https://obr.now.sh/remixicon/finance/price-tag-2-line/64/C1CCDB" class="flex-shrink-0 w-5 h-5 mb-3 lg:mb-4 mr-2">
                            <div class="mb-3 lg:mb-4 flex-1">
                                <h2 class="font-bold text-gray-800 lg:text-lg font-headers">Badges</h2>
                            </div>
                        </div>
                        <div class="flex flex-wrap items-center justify-between px-5 py-3 border-t lg:px-8 lg:py-4">
                            <div class="grid grid-cols-1 row-gap-2 w-full">
                                <a href="/"><img alt="" title="isitmaintained" src="https://isitmaintained.com/badge/resolution/wavevision/namespace-translator.svg"></a>
                                <a href="/"><img alt="" title="isitmaintained" src="https://isitmaintained.com/badge/open/wavevision/namespace-translator.svg"></a>
                                <a href="/"><img alt="" title="wavevision/namespace-translator" src="https://img.shields.io/packagist/v/wavevision/namespace-translator.svg"></a>
                                <a href="/"><img alt="" title="wavevision/namespace-translator" src="https://img.shields.io/packagist/l/wavevision/namespace-translator.svg"></a>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white rounded shadow-md relative z-10 mb-4">
                        <div class="flex flex-wrap items-center justify-start px-5 pt-3 lg:px-8 lg:pt-4 min-h-16">
                            <img loading="lazy" src="https://obr.now.sh/remixicon/system/download-cloud-fill/64/C1CCDB" class="flex-shrink-0 w-5 h-5 mb-3 lg:mb-4 mr-2">
                            <div class="mb-3 lg:mb-4 flex-1">
                                <h2 class="font-bold text-gray-800 lg:text-lg font-headers">Downloads</h2>
                            </div>
                        </div>
                        <div class="flex flex-wrap items-center justify-between px-5 py-3 border-t lg:px-8 lg:py-4">
                            <div class="grid grid-cols-1 row-gap-2 w-full">
                                <canvas id="myChart" width="400" height="400"></canvas>
                                <script>
                                    var ctx = document.getElementById('myChart').getContext('2d');
                                    var myChart = new Chart(ctx, {
                                        type: 'bar',
                                        data: {
                                            labels: ['01/2020', '02/2020', '03/2020', '04/2020', '05/2020', '06/2020'],
                                            datasets: [{
                                                data: [60, 51, 82, 22, 26, 38],
                                                backgroundColor: [
                                                    '#75BBC8',
                                                    '#75BBC8',
                                                    '#75BBC8',
                                                    '#75BBC8',
                                                    '#75BBC8',
                                                    '#75BBC8'
                                                ]
                                            }]
                                        },
                                        options: {
                                            scales: {
                                                yAxes: [{
                                                    ticks: {
                                                        beginAtZero: true,
														fontColor: '#6B7C97',
														fontSize: 10
                                                    }
                                                }],
                                                xAxes: [{
                                                	ticks: {
														fontColor: '#6B7C97',
														fontSize: 10
                                                    }
                                                }]
                                            },
											legend: {
                                                display: false
											}
                                        }
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white rounded shadow-md relative z-10 mb-4">
                        <div class="flex flex-wrap items-center justify-start px-5 pt-3 lg:px-8 lg:pt-4 min-h-16">
                            <img loading="lazy" src="https://obr.now.sh/remixicon/map/guide-fill/64/C1CCDB" class="flex-shrink-0 w-5 h-5 mb-3 lg:mb-4 mr-2">
                            <div class="mb-3 lg:mb-4 flex-1">
                                <h2 class="font-bold text-gray-800 lg:text-lg font-headers">Dependences</h2>
                            </div>
                        </div>
                        <div class="flex flex-wrap items-center justify-between px-5 py-3 border-t lg:px-8 lg:py-4">
                            <div class="grid grid-cols-1 row-gap-2 w-full text-sm">
                                <div>php (>=5.3.3)</div>
                                <div><a href="/" class="text-blue-900 underline hover:no-underline">tacoberu/fluent-intl</a> (~1.0)</div>
                                <div><a href="/" class="text-blue-900 underline hover:no-underline">nette/utils</a> (>=2)</div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white rounded shadow-md relative z-10">
                        <div class="flex flex-wrap items-center justify-start px-5 pt-3 lg:px-8 lg:pt-4 min-h-16">
                            <img loading="lazy" src="https://obr.now.sh/remixicon/map/guide-fill/64/C1CCDB" class="flex-shrink-0 w-5 h-5 mb-3 lg:mb-4 mr-2">
                            <div class="mb-3 lg:mb-4 flex-1">
                                <h2 class="font-bold text-gray-800 lg:text-lg font-headers">Keywords</h2>
                            </div>
                        </div>
                        <div class="flex flex-wrap items-center justify-between px-5 py-2 border-t lg:px-8 lg:py-3">
                            <div class="w-full">
                                <a href="/" class="leading-tight py-1 px-3 bg-blue-100 rounded text-sm inline-block my-1 mr-1">localization</a>
                                <a href="/" class="leading-tight py-1 px-3 bg-blue-100 rounded text-sm inline-block my-1 mr-1">internationalization</a>
                                <a href="/" class="leading-tight py-1 px-3 bg-blue-100 rounded text-sm inline-block my-1 mr-1">l10n</a>
                                <a href="/" class="leading-tight py-1 px-3 bg-blue-100 rounded text-sm inline-block my-1 mr-1">locale</a>
                                <a href="/" class="leading-tight py-1 px-3 bg-blue-100 rounded text-sm inline-block my-1 mr-1">language</a>
                                <a href="/" class="leading-tight py-1 px-3 bg-blue-100 rounded text-sm inline-block my-1 mr-1">nette</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}